/* Apply universal styling to everything not overridden */
* {
    background-color: var(--bgCol);
    color: var(--textCol);
    font-family: sans-serif;
    line-height: 1.25;
}

/* Set full width */
body {
    width: 100%;
}

/* Set header sizes and alignment */
h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
    margin: 25px;
    text-align: center;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
    text-align: center;
    margin-top: 12px;
}

/* Header styling */
header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--panelCol);
}

header h1 {
    width: 384px;
    text-align: left;
    flex: 1 1 300px;
    margin: 10px 10px 10px 5%;
    background-color: inherit;
}

/* Navigation bar styling */
nav {
    flex: 1 1 300px;
    background-color: inherit;
}

nav ul {
    flex: 1 1 300px;
    display: flex;
    justify-content: flex-end;
    background-color: inherit;
}

nav li {
    width: 128px;
    text-align: center;
    flex-direction: row;
    background-color: inherit;
    border: none;
    border-radius: var(--textBackBRad);
}

nav button {
    padding: 4px 8px;
    border: none;
    text-decoration: none;
    background-color: inherit;
}

nav button:hover {
    background-color: #404040;
    cursor: pointer;
}

.selected {
    background-color: #484848;
}

/* Hero image styling */
.heroBanner {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#bio {
    width: 50%;
    text-align: center;
    background-color: var(--textBackSoft);
    border: 1px solid var(--textBackSoft);
    border-radius: var(--textBackBRad);
}

#bio p {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.heroBanner div {
    width: 100px;
    height: 100px;
    margin: 30px auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

.heroBanner img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0 0;
    border: 1px solid #fff;
    border-radius: 100%;
}

/* Main content styling */
.myWork {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px;
    background: inherit;
    background: linear-gradient(0deg, rgba(36,36,36,1) 66%, rgba(96,96,96,1) 100%);
    border-radius: 8px 8px 0 0;
    justify-content: space-around;
    z-index: 1;
}

.cardHeader h3 {
    width: 40%;
    max-width: 360px;
    text-align: center;
    padding: 0 6px;
    margin: 6px 0;
    background-color: rgba(0, 0, 0, 50%);
    border: 1px solid var(--textBackSoft);
    border-radius: var(--textBackBRad);
}

.cardHeader a {
    width: 40%;
    max-width: 360px;
    text-align: center;
    padding: 0 6px;
    margin: 6px 0;
    color: var(--textCol);
    background-color: #344cb8;
    border: 1px solid var(--textBackSoft);
    border-radius: var(--textBackBRad);
    text-decoration: none;
    font-size: 150%;
}

.cardHeader a:hover {
    background-color: #4769FF;
}

.cardHeader a:active {
    background-color: #1E2C6B;
}

.detailsText {
    margin: 0;
    padding: 0.5rem;
    position: absolute;
    top: 4.4rem;
    right: 0.5rem;
    color: var(--textCol);
    font-style: italic;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: var(--textBackBRad);
    cursor: pointer;
    z-index: 1;
}

.mycard {
    width: 100%;
    height: 600px;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    position: relative;
    background-color: inherit;
}

/* Make the first project larger */
.shiny {
    height: 1000px;
}

.mycard img {
    width: 100%;
    height: 540px;
    object-fit: cover;
    filter: grayscale(60%);
    background-color: #888;
    border-radius: 0 0 8px 8px;
}

.shiny img {
    height: 1000px;
}

/* Image alignment classes */
.topcenter img {
    object-position: top center;
}

.topleft img {
    object-position: 0 0;
}

.leftcenter img {
    object-position: left center;
}

.mycard img:hover {
    cursor: pointer;
}

.mycard:hover img {
    filter: grayscale(0%);
}

.modal {
    display: block;
    background: none;
}

.modal-dialog {
    background: none;
}

.modal-content {
    background: var(--bgCol);
}

.btn-close {
    background-color: red;
}

.skills div {
    text-align: center;
    font-size: 72pt;
    padding: 12px;
}

.contact {
    text-align: center;
}

form * {
    display: block;
    margin: 0 auto;
    margin-bottom: 6px;
}

.spacer {
    height: 100px;
    margin: none;
    padding: none;
}

footer {
    width: 100%;
    margin-top: 84px;
    background: inherit;
    background: linear-gradient(0deg, rgba(36,36,36,1) 80%, rgba(96,96,96,1) 100%);
}

footer ul, footer li, footer h4 {
    background: none;
}

footer ul, .contact {
    text-align: center;
    margin-bottom: 16px;
}

/* Responsive layout styling here */
@media screen and (max-width: 960px) {
    .heroBanner {
        background-size: 200%;
    }
}

@media screen and (max-width: 730px) {
    header {
        flex-direction: column;
    }

    header h1 {
        text-align: center;
        margin: 10px;
        height: 66px;
    }

    nav ul {
        justify-content: space-around;
    }

    #bio, .cardHeader a, .cardHeader h3 {
        width: 95%;
    }

    .heroBanner {
        background-size: 200%;
    }

    .card {
        margin-top: 104px;
    }

    .cardHeader {
        flex-direction: column;
        align-items: center;
    }

    .mycard img {
        height: 498px;
    }

    .detailsText {
        top: 7.1rem;
    }

    footer {
        margin-top: 128px;
    }
}

@media screen and (max-width: 512px) {
    header {
        height: 180px;
    }
    header h1, nav, nav ul {
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        padding-bottom: 12px;
    }
    nav li {
        flex: 0 0 28px;
        width: 100%;
    }
    .heroBanner {
        background-size: 300%;
    }
}

@media screen and (max-width: 384px) {
    
}